* {
    width: 500px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #353535;
}

a {
    text-decoration: none;
}

body {
    background-color: #D9D9D9;
}

h1 {
    font-size: 60px;
    color: #ce973e;
}

h2 {
    font-size: 36px;
    color: #284B63;
    font-weight: bold;
}

h3 {
    color: #3C6E71;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}